body{
  margin: 0;
  text-align: center;
}
span{
  text-decoration: underline;
  font-family: 'Bahianita', cursive;
  font-size: 30px;
}

h1{
  margin-top: 30px;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 90px;
}
h2,h3{
  color:#484c7f;

}
a{
  color:black;
  font-family: 'Mountains of Christmas', cursive;
  margin: 10px 20px;
  text-decoration:none;
  font-size: 30px;
}
a:hover{
  color:yellow;
}

.profile{
  margin-top: 40px;
  height: 200px;
  width: 200px;
  border-radius: 60%;
}
.win{
  font-size: 18px;
}

.top-container{
  color:white;
  background-color:rgba(0,0,0,0.7);
  padding-top: 100px;
  position: relative;
}
.middle-container{
  font-family: cursive;
  margin-top: 100px;
  margin-bottom: 100px;
}
.bottom-container{
  background-color:#b689b0;
  padding: 50px 0 20px;
}
.hobby{
  width:50%;
  margin:100px auto 150px auto;
  text-align: left;
}

.lightning{
position: absolute;
top: -30px;
right: 400px;
height: 200px;
width: 200px;
}
.rain{
  position: absolute;
  left: 300px;
  height: 200px;
  width: 200px;
}
.cosplay{
  background-color:skyblue;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.netflix{
  background-color:black;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}
.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}
